@import '../../constants/colors.css';

.navbar {
  height: 50px;
  background-color: var(--hunter);
}

.nav-link {
  margin-left: 20px;
  margin-right: 20px;
  color: #d04764;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  font-weight: normal;
  line-height: 48px;
  text-decoration: none;
}

.user-nav-link {
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  font-weight: normal;
  line-height: 48px;
  text-decoration: none;
}
